{% extends 'base.html.twig' %}

{% block title %}<title>Pas non trouvée</title>{% endblock %}

{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>La page que vous avez demandé n'a pas été trouvée</h1>
                <p>{{ message}}</p> 
            </div>
        </div>
    </div>
    </div>
</header>
{% endblock %}
