/* central aera */
header {
  min-height: 800px;
}

/* .heigttAdmin {
  min-height: 1000px;
} */


/* Class */

/* Button connexion  */
/* .btsign {
  width: 300px !;
} */

.owp-logo {
  margin-top: -10px;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
}

/* 
.navbar-custom {
  background-color: brown;
}

footer .footer-below {
  padding: 25px 0;
  background-color: brown;
} */

