/* Over blogomegawebprod.css For Admin*/

footer .footer-below {
  padding: 25px 0;
  background-color: #333333;
}

.navbar-custom {
  background: #333333;
  font-weight: 700;
  border: none;
}

a,
a.active,
a:active,
a:focus,
a:hover {
  color: #ecf5f3;
  outline: 0;
}


