{% extends 'admin.html.twig' %}

{% block title %}<title>Connection Admininstration blog.omegawebprod</title>{% endblock %}

    {% block adminMain %}
<div class="d-flex flex-column min-vh-100">
<section id="inscription">
<div class="container">
<div class="row">
<br>
<h3 class="text-center">BlogPost Admin</h3>
<hr class="star-primary">
    <div class="container">
        <h4 class="text-center"></h4>
        
        Sur la page permettant de modifier un blog post, l’administrateur a la possibilité de modifier les champs titre, chapô, auteur et contenu.

        <hr>
        
        <table class="table">
<thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
    </tr>
</thead>
<tbody class="table-group-divider">
    <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    </tr>
    <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    </tr>
    <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
    </tr>
</tbody>
</table>

        

    </div>
    
</div>
</div>
</div>
<br>
 {% endblock %}
