{# test fragment : don't work... 
{% set content %}
        {% include 'fragement/modal.html.twig' %}
    {% endset %}
#}

{% extends 'base.html.twig' %}

    {% block modal %}
    <div class="portfolio-modal modal fade" id="confidential" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2> Qui sommes-nous ?</h2><br>
                            <p>L’adresse de notre blog est : https://blog.omegawebblog.com</p>
                            <br>
                            <p>L’adresse de notre site est : https://omegawebblog.com</p>
                            <br>
                            <h2>commentaires</h2>
                            <p>Quand vous laissez un commentaire sur notre blog, les données inscrites dans le
                                formulaire de commentaire, ainsi que votre adresse IP et l’agent utilisateur de votre
                                navigateur sont collectés pour nous aider à la détection des commentaires indésirables.
                            <h2>Utilisation et transmission de vos données personnelles</h2>
                            <p>Si vous demandez une réinitialisation de votre mot de passe, vueillez nous contacter par
                                le formulaire de contact</p>
                            <h2>Durées de stockage de vos données</h2>
                            <p>Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés
                                <br>
                                Pour les comptes qui s’inscrivent sur notre site (le cas échéant), nous stockons
                                également les données personnelles indiquées dans leur profil. Tous les comptes peuvent
                                voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception
                                de leur(s) commentaire(s) qui seront alors anonymisé). Les gestionnaires du site peuvent
                                aussi voir et modifier ces
                                informations.
                            </p>
                            <h2>Les droits que vous avez sur vos données</h2>
                            <p>Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez
                                demander à recevoir un fichier contenant toutes les données personnelles que nous
                                possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez
                                également demander la suppression des données personnelles vous concernant. Cela ne
                                prend pas en compte les données stockées à des fins administratives, légales ou pour des
                                raisons de sécurité.</p>
                            <h2>Transmission de vos données personnelles</h2>
                            <p>Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de
                                détection des commentaires indésirables.</p>
                            <br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endblock %} 