{% extends 'base.html.twig' %}

{% block title %}<title>Inscription</title>{% endblock %}

{% block inscription %}

<div class="d-flex flex-column min-vh-100">

<section id="inscription">
<div class="container">
<div class="row">

<h3 class="text-center">Inscription</h3>
<hr class="star-primary">
    <div class="container">
        <h4 class="text-center">Inscrivez vous</h4>
        <p><span class="text-center">Pour pouvoir laisser un commentaire, inscrivez vous</span></p>

        <form action="{{ baseUrl }}index.php?owp=creation-d-un-compte" method="post">     
            <div class="mb-3">
            
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre Email" required data-validation-required-message="Veuillez entrer votre Email.">
                <div class="form-text">Votre Email ne sera ni partagé ni vendu</div>
            </div>

            <div class="form-group">
                <label for="pass" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="pass" name="password" minlength="12" required placeholder="Inventez votre mot de passe">
                <div class="form-text">Au minimum 12 caractères par exemple : "c'est une belle journée aujoud'hui'. Facile à retenir et pas déja utilisé sur un autre site</div>
            </div>
            <br>
            
            <div class="form-group">
                <label for="fName" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="Votre prénom" required data-validation-required-message="Veuillez entrer votre prénom.">
                <div class="form-text">Votre prénom</div>
            </div>

            <br>

            <div class="form-group">
                <label for="lName" class="form-label">Nom</label>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Votre nom" required data-validation-required-message="Veuillez entrer votre nom.">
                <div class="form-text">Votre Nom</div>
            </div>
            <br>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
            </div>
        </form>
        <br />
    </div>
</div>
</div>
</div>
<br>
{% endblock %}






