{% extends 'base.html.twig' %}

{% block title %}<title>Listing des articles du Blog</title>{% endblock %}

{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Listing des articles</h1>
                <hr>
                {# todo : a condition post.postStatus = open #}
                {% for post in posts %}   
                <h2><a style="color:aliceblue" href="index.php?owp-post={{post.id}}">{{post.postTitle}}</a></h2>
                <p >Dernière modification : {{post.frenchModifiedDate}}</p>
                <p class="align-left"></p>{{post.postChapo}}</p>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</header>
{% endblock %}