<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">

    {% block title %}Blog de OmegaWebProd{% endblock %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Theme CSS blog.omegawebprod -->
    <link  rel="stylesheet" href="css/blogomegawebprod.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    
    <span id="home"></span>

    {% block nav %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button> 
                <a class = "navbar-brand"  href= "index.php#page-top-logo"><img class="owp-logo" src="img/logo-small.png" alt="visuel logo omegawebprod" ></a>
                <a class="navbar-brand" href="index.php?owp=bloglist"> &lt; Administration &gt;
                {# to know how is connected, show only if connected #}
                    {# {% if session.LOGGED_USER == true  %}
                        <small> {{ session.LOGGED_USER_NAME }} </small> 
                    {% endif %}  #}
                </a> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#">Nouveau Post</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Modifier Post</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Validation Nouveaux commentaires</a>
                    </li>
                </ul>
            </div> 
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block adminMain %}
    {% endblock %}

    {% block modifyPost %}
    {% endblock %}


    {% block newPost %}
    {% endblock %}

{% block footer %}
    <footer class="text-center">
        

        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <span class="col-lg-4">
                        OmegaWebProd Copyright &copy; {{ "now"|date("Y") }}
                    </span>
                    {# to know how is connected, show only if connected #}
                    {# {% if session.LOGGED_USER != '' %}
                        <span >Connecté: {{ session.LOGGED_USER }} <span> | 
                    {% endif %} #}
                    <a href="index.php">Retour au blog</a>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    {% endblock %}
    

    <!-- <script src="js/vendor/modernizr-3.11.2.min.js"></script>-->
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script> </script>

</body>

</html>
