{% extends 'base.html.twig' %}


    
    {% block style %}
     <link  rel="stylesheet" href="css/blogomegawebprodAdmin.css">
     {% endblock %}


    {% block nav %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button> 
                <a class = "navbar-brand"  href= "index.php#page-top-logo"><img class="owp-logo" src="img/logo-small.png" alt="visuel logo omegawebprod" ></a>
                <a class="navbar-brand" href="index.php?owp=bloglist"> &lt; Administration &gt;
                {# to know how is connected, show only if connected #}
                    {# {% if session.LOGGED_USER == true  %}
                        <small> {{ session.LOGGED_USER_NAME }} </small> 
                    {% endif %}  #}
                </a> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling - "no menu" is for admin connection page-->  
        {% if message != "no menu" %} 
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="index.php?owp=blocPostAdmin">Posts</a>
                    </li>    
                    <li class="page-scroll">
                        <a href="index.php?owp=blocCommentAdmin">Commentaires</a>
                    </li>
                    <li class="page-scroll">
                        <a href="index.php?owp=blocUserAdmin">Utilisateurs</a>
                    </li>
                </ul>
            </div> 
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        {% endif %} 
    </nav>
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block adminMain %}
    {% endblock %}

    {% block modifyPost %}
    {% endblock %}

    {% block newPost %}
    {% endblock %}

{% block footer %}
    <footer class="text-center">
        
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <span class="col-lg-4">
                        OmegaWebProd Copyright &copy; {{ "now"|date("Y") }}
                    </span>
                    {# to know how is connected, show only if connected #}
                    {% if session.LOGGED_USER != '' %}
                        <span > Connecté : {{ session.LOGGED_USER_NAME }}  &nbsp; &nbsp; &nbsp;    <span>  {# role : <span >Connecté: {{ session.LOGGED_ROLE }} #}
                    {% endif %}
                    <a href="index.php">Retour au blog</a> | <a href="index.php?owp=se-deconnectez">Se déconnecter</a>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    {% endblock %}
    
  