{% extends 'base.html.twig' %}

{% block title %}<title>Information</title>{% endblock %}

{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ message}}</h1>
            </div>
        </div>
        <hr>
        <br>
        <div>
            <br>
            <a href="{{ baseUrl }}index.php?owp=bloglist" class="btn-primary btn-lg" role="button" title="Retour">Retour
                à la liste des articles</a>
        </div>
</header>
{% endblock %}